<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Daftar Kategori</h6>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Avatar</th>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><img style="aspect-ratio: 1/1; object-fit: contain; width: 50px;" src="/uploads/profiles/<%= user.avatar %>" alt="<%= user.name %> avatar"></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <span class="badge badge-<%= user.status === "INACTIVE" ? 'danger' : 'success' %>">
                <%= user.status %>
              </span>
            </td>
            <td>
              <a href="/users/<%= user.id %>" class="btn btn-primary btn-sm">Detail</a>
              <% if(user.status === "INACTIVE") { %>
              <form action="/users/<%= user.id %>/activate?_method=PUT" method="POST" class="d-inline">
                <button class="btn btn-success btn-sm">Aktivasi</button>
              </form>
              <% } else { %>
              <form action="/users/<%= user.id %>/deactivate?_method=PUT" method="POST" class="d-inline">
                <button class="btn btn-danger btn-sm">Deaktivasi</button>
              </form>
              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>