<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Daftar Kategori</h6>
    </div>
    <div class="card-body">
      <a href="#new-category" class="btn btn-primary mb-4">Tambah Kategori</a>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach((category, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><b><%= category.categoryBrands.length %></b> Brand</td>
            <td>
              <a href="/categories/<%= category.id %>/edit" class="btn btn-primary btn-sm">Edit</a>
              <form action="/categories/<%= category.id %>?_method=DELETE" method="POST" class="d-inline" onSubmit="return confirm('Anda yakin ingin menghapus kategori <%= category.name %>?')">
                <button class="btn btn-danger btn-sm">Hapus</button>
              </form>
              <a href="/categories/<%= category.id %>/products" class="btn btn-success btn-sm">Lihat Produk</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card shadow mb-4" id="new-category">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tambah Kategori</h6>
    </div>
    <div class="card-body">
      <form action="/categories" method="POST">
        <div class="row" style="--spacer: 1rem;">
          <!-- <div class="col-12 col-md-2 d-flex flex-column" style="gap: var(--spacer);">
            <label for="icon" class="flex-grow-1 rounded-lg" style="aspect-ratio: 1/1; background-color: #85879644; cursor: pointer;">
              <img src="#" alt="icon" style="width: 100%; height: 100%; object-fit: contain;" id="output-icon">
            </label>
            <label type="button" class="btn btn-outline-primary">
              <input class="d-none" type="file" name="icon" id="icon" accept="image/*">
              Pilih Icon
            </label>
          </div> -->

          <div class="col-12 col-md-10 d-flex flex-column">
            <div class="form-group row">
              <label class="col-form-label text-md-right col-12 col-md-2">Nama Kategori</label>
              <div class="col-sm-12 col-md-10">
                <input type="text" class="form-control" name="name" placeholder="Nama Kategori">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label text-md-right col-12 col-md-2">Deskripsi</label>
              <div class="col-sm-12 col-md-10">
                <textarea class="form-control" name="description" placeholder="Deskripsi Kategori"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 col-md-10 offset-md-2">
                <button class="btn btn-primary" type="submit">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Daftar Brand</h6>
    </div>
    <div class="card-body">
      <form action="/products/?_method=PUT" method="POST">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Icon</th>
              <th scope="col">Nama</th>
              <th scope="col">Jumlah</th>
              <th scope="col">Kategori</th>
              <th scope="col">Display</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% brands.forEach((brand, i) => { %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><img style="width: 30px; height: 30px; object-fit: contain;" src="/uploads/icons/<%= brand.icon %>" alt="<%= brand.name %>"></td>
              <td><%= brand.name %></td>
              <td><b><%= brand.brandProducts.length %></b> Produk</td>
              <td>
                <select name="<%= brand.id %>" class="form-control">
                  <option value="">Belum dipilih</option>
                  <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= brand.categoryId == category.id ? "selected" : "" %>><%= category.name %></option>
                  <% }) %>
                </select>
              </td>
              <td>
                <select name="display-<%= brand.id %>" class="form-control">
                  <option value="0" <%= brand.display == 0 ? "selected" : "" %>>TIDAK</option>
                  <option value="1" <%= brand.display == 1 ? "selected" : "" %>>YA</option>
                </select>
              </td>
              <td>
                <a href="/brands/<%= brand.id %>/products" class="btn btn-success btn-sm">Lihat Produk</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
          <button type="submit" class="btn btn-primary mb-4">Simpan Perubahan</button>
        </table>
      </form>
    </div>
  </div>
</div>

<script>
  const fileIcon = document.getElementById('icon');
  const outputImg = document.getElementById('output-icon');
  fileIcon.addEventListener('change', e => {
    if (fileIcon.files && fileIcon.files[0]) {
      const reader = new FileReader();

      reader.onload = e => outputImg.src = e.target.result;
      reader.readAsDataURL(fileIcon.files[0]);
    }
  });
</script>